@tailwind base;
@tailwind components;
@tailwind utilities;

/* General Styles */
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-color: transparent;
  font-family: 'Inter', sans-serif; /* Apply Inter font globally */
}

.fullscreenBackground {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  z-index: -1; /* Ensure it is behind other content */
}

.pageContainer {
  max-width: 1200px;
  margin: 0 auto;
  padding: 8px;
  position: relative;
  font-family: 'Inter', sans-serif; /* Apply Inter font to page container */
  min-height: 100vh; /* Ensure it covers the full viewport height */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#__next, .PageWrapper {
  height: 100%;
}

.PageWrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

body {
  @apply font-sans;
  min-height: 100vh;
  font-family: 'Inter', sans-serif; /* Ensure Inter font is applied */
}

.navbar {
  background: transparent;
  border-bottom: 0;
  box-shadow: none;
  font-family: 'Inter', sans-serif; /* Apply Inter font to navbar */
}

.nav-link {
  @apply text-white mr-4 no-underline;
  font-family: 'Inter', sans-serif; /* Apply Inter font to nav links */
}

.separatorLine {
  width: 100%;
  height: 1px;
  background-color: #6B6767;
  margin-top: 40px; /* Adjust the top margin to create space above the separator */
}

.footer {
  @apply text-white p-4;
  background: transparent;
  z-index: 1200;
  position: relative;
  font-family: 'Inter', sans-serif; /* Apply Inter font to footer */
}

/* Define the gradient color variable */
:root {
  --chart-color: linear-gradient(90deg, #4679E2 0%, #F08852 100%);
}

\\\
/* Temporary debugging styles */
* {
  outline: 1px solid red; /* Add a red border to all elements for debugging */
}