@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Apercu';
  src: url('/fonts/Apercu-Regular.woff2') format('woff2'),
       url('/fonts/Apercu-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Armata';
  src: url('/fonts/Armata-Regular.woff2') format('woff2'),
       url('/fonts/Armata-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

body {
  @apply font-sans; /* Set Apercu as the default font family */
}