/* styles/BlogPostPage.module.css */

/* Import the Charter font */
@import url('https://fonts.googleapis.com/css2?family=Charter:wght@400;700&display=swap');


.fullscreenBackground {
  @apply fixed top-0 left-0 w-full h-full bg-cover bg-center bg-no-repeat z-[-1];
}

.container {
  max-width: 700px;
  margin: 0 auto;
  padding: 2rem;
  position: relative;
  font-family: 'Charter', serif;
}


.backLink {
  @apply block mb-4 text-[#5f7179] no-underline;
  font-family: 'Charter', serif;
}

.title {
  @apply text-[2rem] sm:text-[2rem] md:text-[2.625rem] font-normal mb-4;
  font-family: 'Charter', serif;
}

.meta {
  @apply flex flex-col items-end mb-8;
  font-family: 'Charter', serif;
}

.icons {
  @apply flex mb-2;
}

.iconLink {
  @apply inline-block w-9 h-9 relative;
}

.iconLink img {
  @apply absolute top-0 left-0 w-full h-full transition-opacity transition-transform duration-300 ease-in-out;
}

.iconLink img.hover,
.iconLink img.active {
  @apply opacity-0;
}

.iconLink:hover img.normal {
  @apply opacity-0;
}

.iconLink:hover img.hover {
  @apply opacity-100;
}

.iconLink:active img.hover {
  @apply opacity-0;
}

.iconLink:active img.active {
  @apply opacity-100;
}

.date {
  @apply text-[#555] text-[16px] mb-4;
  font-family: 'Charter', serif;
}

.separator {
  @apply w-full h-px bg-[#6b6767] mb-8;
}

.content {
  @apply text-[1.125rem] md:text-[1.25rem] leading-relaxed;
  font-family: 'Charter', serif;
}

.content img {
  @apply w-full rounded-lg; /* Only top margin, no bottom margin */
}

.content p {
  margin-top: 32px;  /* Adds space above the paragraph */
  margin-bottom: 32px;  /* Adds space below the paragraph */
  line-height: 1.6;  /* Keeps the line height comfortable */
  font-family: 'Charter', serif;  /* Consistent font style */
}

.content h2 {
  @apply text-[1.25rem] sm:text-[1.5rem] mb-2 mt-8; /* Default 1.5rem, changes to 1.25rem on small screens */
  font-family: sohne, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 600;
}

.content a {
  color: #FFB300; /* Bright yellow color */
  text-decoration: none; /* Remove the default underline */
  background-image: linear-gradient(#FFB300, #FFB300);
  background-size: 0% 2px; /* Start with no underline */
  background-repeat: no-repeat;
  background-position: 0 100%; /* Position the underline at the bottom */
  transition: background-size 0.3s ease; /* Smooth transition for underline */
}

.content a:hover {
  background-size: 100% 2px; /* Full width underline on hover */
}

.content ul {
  list-style-type: disc; /* Ensures bullets are visible for unordered lists */
  padding-left: 1.5rem;  /* Adds some left padding to align bullets properly */
  margin-bottom: 1rem;   /* Adjusts spacing */
}

.content ol {
  list-style-type: decimal; /* Ensures numbers are visible for ordered lists */
  padding-left: 1.5rem;      /* Adds left padding for number alignment */
  margin-bottom: 1rem;       /* Adjusts spacing */
}

.content li {
  margin-bottom: 0.5rem; /* Adds spacing between list items */
}

.content figure figcaption {
  color: #6B6B6B; /* The color for the description */
  font-size: 14px; /* The font size for the description */
  margin-top: 16px; 
  text-align: center; /* Centers the description */
  font-family: sohne, "Helvetica Neue", Helvetica, Arial, sans-serif; /* Updated font family */
}

.authorContainer {
  @apply flex items-center justify-end mt-8;
}

.authorImage {
  @apply w-12 h-12 rounded-full mr-4;
}

.author {
  @apply italic text-[#555];
  font-family: 'Charter', serif;
}